<!-- views/index.erb -->

<table class="file-edit">
  <% @files.each do |file| %>
    <tr>
      <td>
        <a class="file-link" href="<%= file %>"><%= file %></a>
      </td>
      <td>
        <a class="edit-link" href="<%= file %>/edit">Edit</a>
      </td>
  <% end %>
</table>

<% content_for :newdoclink do %>
  <div class="links">
    <a class="add" href="/document/new">New Document</a>
  </div>
<% end %>