<!doctype html>
<html lang="en-US">
  <head>
    <title>A File-Based Content Management System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-3.5.0.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>

  <body>
    <header>
      <h1>List of Files</h1>
      <div class="actions">
        <%== yield_content :header_links %>
      </div>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
