<!-- views/new.erb -->

<form method="post" action="/create">
  <dl>
    <dt>
      <label for="name">Add a new file:</label>
    </dt>
    <dd>
      <input name="filename" id="filename" placeholder="file name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Create">
    <a href="/">Cancel</a>
  </fieldset>
</form>