<form action="/" method="post">
  <dl>
    <dt>
      <label for="document name">Add a new document:</label>
    </dt>
    <dd>
      <input name="document_name" placeholder="Document Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Create">
    <a href="/">Cancel</a>
  </fieldset>
</form>